/* this is my stylesheet for my homepage */

/* fonts info for playbillregular */
@font-face {
    font-family: 'playbillregular';
    src: url('playbill-webfont.woff2') format('woff2'),
         url('playbill-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font directory */
h1, nav {font-family: 'playbillregular';}



/* table of contents styles */
nav, h1 {color:blue ; background-color: black;
  text-align: center;}

nav {color: black;
padding: 10px;}




a:hover {background-color: white;}


/* header styles */

/* main body styles */


h1, h6 {text-align: center;}




/* footer styles */
