/* this is my stylesheet for my homepage */



/* table of contents styles */
nav, h1 {color:yellow ; background-color: black;
  text-align: center;}

nav {color: black;
padding: 10px;}


a:hover {background-color: white;}


/* header styles */

/* main body styles */



h1, h6 {font-family: cursive;
text-align: center;}

header {color: redx;}
/* footer styles */
